html, body {
margin: 0;
padding: 0;
background: #69AED9;
font-family: 'Heebos', sans-serif;
}

.container {
max-width: 1040px;
}

/*Header*/
#header {
  height: 100px;
  background: #69AED9;
  border-bottom: 2px solid #F5F5F5;
  z-index: 2;
}

#nav-anchor {
	position: relative;
  float: right;
	padding: 25px 8px;
  margin-right: -80px;
}

.stick {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 4;
  clear: both;
}

.nav-pills li {
	background-color: #F5F5F5;
	font-weight: 160px;
	color: #69AED9;
	display: inline;
	border-radius: 4px;
	text-decoration:none;
	margin-right: 8px;
}

.nav-pills a {
	color: #69AED9;
}

.nav li a:hover {
  background-color: #69AED9;
  color: #F5F5F5
}

/*About*/
#about {
	background: url(https://images.unsplash.com/photo-1428189923803-e9801d464d76?dpr=1&auto=format&crop=entropy&fit=crop&w=767&h=441&q=80) no-repeat center center;
	background-size: cover;
	color: #F5F5F5;
  height: 350px;
  text-align: center;
  color: #F5F5F5;
}

#about h1 {	
	font-size: 80px;
	font-weight: 40;	
	margin-top: 40px;
}

#about h3 {
	font-size: 25px;
	font-weight: 20;
	margin-top: 10px;
}

/*Portfolio*/
#portfolio {
 background-color: #F5F5F5;
 min-height: 300px;
}

#portfolio h1 {
 font-size: 80px;	
	margin-top: 40px;
  color: #69AED9;
  text-align: center;
  padding: 10px;
}


#portfolio .img-w-txt {
	text-align: justify;
	width: 300px;
	margin: 20px 20px;
}

.caption {
	color: #69AED9;
	font-weight: bold;
	text-align: center;
	width: 300px;
  padding-top: 10px;
}

#portfolio img {
	height: 200px;
	width: 300px;
	border: 1px solid #69AED9;	
}

/*Contact*/
#contact {
	background: url(https://images.unsplash.com/photo-1459664018906-085c36f472af?dpr=1&auto=format&crop=entropy&fit=crop&w=767&h=511&q=80) no-repeat center center;
	background-size: cover;
	color: #F5F5F5;
  height: 240px;
  text-align: center;
  color: #F5F5F5;
}

#contact h1 {
  font-size: 80px;
	font-weight: 40;	
	margin-top: 80px;
}

/*Contact-Form*/
#contact-form {
  background-color: #F5F5F5;
  min-height: 260px; 
}

.form-group {
  color: #69AED9;
  margin: 40px;
  font-size: 25px;
	font-weight: 20;
  
}

.form-group input {
  border: none;
  border-bottom: 1px solid #69AED9;
  background-color: #F5F5F5;
}

.btn-submit {
  background-color: #69AED9;
	font-weight: 160px;
	color: #F5F5F5;
	border-radius: 4px;
	font-weight: 8px;
	text-decoration:none;
  padding: 10px 20px;
}

/*Bottom Banner*/
.bottom-banner {
	height: 80px;
}

.bottom-banner ul {
	list-style: none;
	padding-top: 25px;
}

.bottom-banner li {
	padding-right: 4px;
	display: inline-block;
}

.bottom-banner img {
	height: 30px;
	width: 30px;
	border-radius: 20px;
	border: 1px solid #fff;
}